@import 'https://unpkg.com/@a1rth/css-normalize@1.1.3/index.css';

header {
    padding: 10px;
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.filters {
    margin: 15px;
    padding: 20px;
    border-style: solid;
    border-radius: 15px;
    width: 282px;
    display: flex;
    flex-direction: column;
    gap: 10;
}

.catalog {
    width: 894px;
    margin: 15px;
    padding: 20px;
    border-style: solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.equipment-cards {
    border-style: solid;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.equipment-cards button {
    width: 153px;
    height: 43px;
     margin: 5px;
}
.equipment-cards h2 {
    margin: 5px;
}