* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: #E9E9EF;
}

header {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 1200px;
    height: 94px;
    background-color: #ffffff;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 4px 25px rgba(34, 60, 80, 0.2);
    
}

.img-logo {
    width: 147px;
    height: 18px;
}

.in-header {
    display: flex;
    flex-direction: row;
}

form {
  position: relative;
  width: 707px;
  height: 41px;
}
input {
  width: 100%;
  height: 41px;
  padding-left: 10px;
  border: 2px solid #292933;
  border-radius: 20px;
  outline: none;
  background: #ffffff;
  color: #9E9C9C;
}
button {
  position: absolute; 
  top: 0;
  right: 0px;
  width: 87px;
  height: 41px;
  border: none;
  background: #292933;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}